body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 450px;
  color: white;
  padding: 2em;
  max-height: 250px;
  border-radius: 20px;
}
.section1 {
  margin: 1.5em 0;
}
.section1 h1 {
  font-size: 40px;
  margin: 0;
}
.section2 {
  padding-top: 20px;
  border-top: 3px dotted white;
  display: flex;
}
#details {
  width: 60%;
  display: flex;
  flex-direction: column;
}
#buttons {
  width: 40%;
}

#buttons button {
  background-color: white;
  border: 0;
  width: 80px;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}

form input {
  padding: 0.5em 1em;
  border-radius: 10px;
  width: 200px;
  font-size: 1em;
  border: 0;
  box-shadow: 0 0 5px rgb(87, 111, 119);
  margin: 1em 0.5em;
}

form button {
  font-size: 1.25em;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(108, 204, 255);
  border: 0;
  transition: 0.3s;
}

form button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(49, 97, 255);
}
